################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FootballMatches/.vs/FootballMatches
/FootballMatches/FootballMatches.Domain/obj
/FootballMatches/FootballMatches.repositories/obj
/FootballMatches/FootballMatches.Web/bin/Debug/netcoreapp3.1
/FootballMatches/FootballMatches.Web/obj
